<%= render "shared/header" %>


  <div class="top-main">
    <div class="guide">好きなベスト10を投稿してください</div>
    <div class="item-lists">投稿一覧</div>
      <div class="items">
        <li>投稿タイトル</li>
        <li>投稿タイトル</li>
        <li>投稿タイトル</li>
        <li>投稿タイトル</li>
      </div>
  </div>


<%= render "shared/footer" %>